<h1>New game</h1>

<%# <div class="grid-container"> %>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
  <%# <div class="grid-item"> <%= @letters %> </div>
<%# </div> %>

<ul class="letters">
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>



<p>Whats the longest word you can find?</p>

<form class="text-center" action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="user_word" placeholder="Try your luck">
  <input type="submit" value="Play">
</form>
